<li [class.completed]="todo.completed" [class.editing]="editing">
  <div class="view">
    <input 
    class="toggle"
    type="checkbox" 
    [formControl]="checkField"/>
    <label
      (dblclick)="activeEditMode()">
      {{ todo.text }}   {{ todo.subject }}
    </label>
    <button class="destroy" (click)="deleteTodo()"></button>
  </div>
  <input 
    class="edit"
    type="text" 
    #textInput
    [formControl]="textField" 
    [hidden]="editing" />
    <input 
    class="edit"
    type="text" 
    #subjectInput
    [formControl]="textField2" 
    [hidden]="editing" />
    <button
    class="edit"
    (click)="updateText()"
    [hidden]="editing"
    >Edit</button>
</li>